<nav class="navbar">
  <div class="container">
    <div>
      <a class="pointer mr-2" routerLink="/home">Home</a>
      <a class="pointer" routerLink="/user">Users</a>
    </div>

    <div [hidden]="this.userLogin === null">
      <a (click)="loggedUserDetail()" class="mr-2 pointer">
        {{ this.userLogin }}
      </a>
      <a (click)="logout()" class="pointer">
        Logout
      </a>
    </div>

    <div [hidden]="this.userLogin !== null">
      <a href="{{githubUrl}}" class="pointer">
        Login
      </a>
    </div>
  </div>

</nav>
