<div class="container">
  <div class="row">
    <div class="col-xl-12">

      <div class="form-group" *ngIf="this.login === undefined">
        <label class="form-label" for="searchUsers">Location</label>
        <input type="search" class="form-control"
               [(ngModel)]="search" (ngModelChange)="this.searchUsersResults()"
               id="searchUsers">
      </div>

      <div>
        <button class="btn btn-light mr-2" (click)="sortFollowers()">Followers
          <i *ngIf="orderFollowers === 0" class="fa fa-arrow-down"></i>
          <i *ngIf="orderFollowers === 1" class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-light mr-2" (click)="sortRepos()">Repos
          <i *ngIf="orderRepos === 0" class="fa fa-arrow-down"></i>
          <i *ngIf="orderRepos === 1" class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-light" (click)="sortJoined()">Date create
          <i *ngIf="orderJoined === 0" class="fa fa-arrow-down"></i>
          <i *ngIf="orderJoined === 1" class="fa fa-arrow-up"></i>
        </button>
      </div>

      <mat-list>
        <mat-list-item *ngFor="let user of users$ | async" (click)="onSelect(user)">
          <img matListAvatar class="image" [src]="user.avatar_url" [alt]="user.login">
          <h3 matLine> {{user.login}} </h3>
          <div matLine>
            <span> #Followers:  </span>
            <span class="demo-2"> #Repos:  </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

